.skills__inner {
	margin-top: 65px;
	display: flex;
}

.skills__list {
	margin-right: 100px;
	height: 250px;
	display: flex;
}

.skills__item {
	height: 100%;
	&:not(:last-child) {
		margin-right: 40px;
	}
}

.skill__lang {
	font-size: 1.3rem;
	font-weight: 900;
	text-align: center;
	line-height: .9rem;
} 
.skill__percent {
	width: 80px;
	background-color: var(--dark);
	color: #fff;
	padding: 10px;
	text-align: center;
}


.skill {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.skill__percent {
	position: relative;
	&:before {
		content: '';
		width: 150px;
		height: 150px;
		background-color: var(--light-red);
		border-radius: 50%;

		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;

		opacity: 0;

		transition: .3s opacity;
	}
}
.skill--selected {
	& .skill__percent:before {
		opacity: 1;
	}
}

$time_anim: .3s;
.description {
	&__item {
		overflow: hidden;
		height: 0;
		opacity: 0;
		transition: $time_anim opacity .0s, .0s display $time_anim;

		&--active {
			height: auto;
			opacity: 1;
			transition: $time_anim opacity .0s, $time_anim display .0s;
		}
	}
	&__title {
		margin-bottom: 20px;
	}
}

@media (max-width: 850px) {
	.skills__inner {
		flex-wrap: wrap;
	}
	.skills__description {
		margin-top: 50px;
		width: 70%;
	}
}

@media (max-width: 700px) {
	.skills__inner { 
		margin-top: 20px;
	}
	.skills__list {
		overflow: auto;
		width: calc(100% + 40px);
		min-width: calc(100% + 40px);
		height: 330px;
		padding-top: 70px;
		padding-left: 40px;
		margin-left: -40px;
	}
	.skills__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	.skills__description {
		width: 100%;
	}
}