@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --light-gray: #f9f9f9;
  --dark: #000;
  --dark-red: #7B5B5B;
  --light-red: #FFDFDF;
}

* {
  font-family: "Brygada 1918";
  box-sizing: border-box;
}

.page {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: var(--light-gray);
}

.page__header {
  margin-top: 30px;
  padding: 15px 10px;
  width: 100%;
}

.logo__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6rem;
}

.logo__subtitle {
  margin-left: 10px;
  font-size: 1rem;
  line-height: 0.6rem;
}

.link {
  color: var(--dark);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}
.link:before, .link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  left: 0;
  bottom: -10px;
}
.link:before {
  opacity: 0;
  transition: 0.2s all 0s;
}
.link:after {
  opacity: 0;
  transition: 0.2s all 0s;
}
.link:hover:before, .link:hover:after {
  bottom: -2px;
}
.link:hover:before {
  opacity: 0.5;
}

.navbar__link {
  padding: 15px 25px;
}
.navbar__link:hover:before, .navbar__link:hover:after {
  bottom: 5px;
}

.btn {
  font-family: "Montserrat Alternates";
  font-size: 1rem;
  position: relative;
  padding: 10px 50px 10px 0;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s padding;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--light-red);
  border-radius: 100px;
  z-index: -1;
  transition: 0.3s;
}
.btn:after {
  content: "→";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-55%);
  font-size: 1.5rem;
  transition: 0.3s;
}
.btn:hover:before {
  right: -5px;
}
.btn:hover:after {
  right: 5px;
}
.btn:hover {
  padding-left: 5px;
}

.main__present-page {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present-page__right-side {
  min-width: 400px;
}

.present-page__image {
  width: 100%;
}

section {
  margin-top: 160px;
}

.title {
  font-family: "Montserrat Alternates";
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1.6rem;
  font-family: "Montserrat Alternates";
  color: var(--dark-red);
}

.present-page__subtitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 55px;
}

.text {
  line-height: 1.4rem;
}

.present-page__text {
  margin-bottom: 50px;
  max-width: 450px;
}

.services__list {
  display: flex;
  justify-content: start;
  align-items: top;
  margin-top: 70px;
}

.services__item {
  min-width: 360px;
}
.services__item:not(:last-child) {
  margin-right: 100px;
}

.service__image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 120px;
}

.service__image, .service__title, .service__text {
  margin-bottom: 20px;
}

.services__image {
  margin-right: -110px;
  height: 235px;
  margin-top: 40px;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */