@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark: #000;
  --dark-gray: #444444;
  --light-gray: #f9f9f9;
  --dark-red: #7B5B5B;
  --light-red: #FFDFDF;
}

* {
  font-family: "Brygada 1918";
  box-sizing: border-box;
}

.page {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  .container {
    max-width: 800px;
  }

  html {
    font-size: 14px;
  }
}
.header {
  background-color: var(--light-gray);
}

.page__header {
  margin-top: 30px;
  padding: 15px 10px;
  width: 100%;
}

.logo__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6rem;
}

.logo__subtitle {
  margin-left: 10px;
  font-size: 1rem;
  line-height: 0.6rem;
}

.link {
  color: var(--dark);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}
.link:before, .link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  left: 0;
  bottom: -10px;
}
.link:before {
  opacity: 0;
  transition: 0.2s all 0s;
}
.link:after {
  opacity: 0;
  transition: 0.2s all 0s;
}
.link:hover:before, .link:hover:after {
  bottom: -2px;
}
.link:hover:before {
  opacity: 0.5;
}

.navbar__link {
  padding: 15px 25px;
}
.navbar__link:hover:before, .navbar__link:hover:after {
  bottom: 5px;
}

.btn {
  font-family: "Montserrat Alternates";
  font-size: 1rem;
  position: relative;
  padding: 10px 50px 10px 0;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s margin-right, 0.3s padding;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--light-red);
  border-radius: 100px;
  z-index: 0;
  transition: 0.3s;
}
.btn:after {
  content: "→";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-55%);
  font-size: 1.5rem;
  transition: 0.3s;
}
.btn:not(.btn--arrow--up):hover:before {
  right: -5px;
}
.btn:not(.btn--arrow--up):hover:after {
  right: 5px;
}
.btn:not(.btn--arrow--up):hover {
  padding-left: 5px;
  margin-right: -5px;
}
.btn--arrow--up:before {
  top: 50%;
}
.btn--arrow--up:after {
  transform: rotate(-90deg);
  right: 5px;
}
.btn--arrow--up:hover:before {
  top: 30%;
}
.btn--arrow--up:hover:after {
  top: 15%;
}
.btn--arrow--up:hover {
  padding-top: 5px;
  padding-bottom: 15px;
}

.main__present-page {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present-page__right-side {
  width: 400px;
}

.present-page__image {
  width: 100%;
}

section {
  margin-top: 160px;
}

@media (max-width: 1100px) {
  .present-page__right-side {
    width: 300px;
  }

  section {
    margin-top: 140px;
  }
}
.title {
  font-family: "Montserrat Alternates";
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1.6rem;
  font-family: "Montserrat Alternates";
  color: var(--dark-red);
}

.present-page__subtitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 55px;
}

.text {
  line-height: 1.4rem;
  color: var(--dark-gray);
}

.present-page__text {
  margin-bottom: 50px;
  max-width: 450px;
}

.services__list {
  display: flex;
  justify-content: start;
  align-items: top;
  margin-top: 70px;
}

.services__item {
  min-width: 360px;
}
.services__item:not(:last-child) {
  margin-right: 100px;
}

.service__image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 120px;
}

.service__image, .service__title, .service__text {
  margin-bottom: 20px;
}

.services__image {
  margin-right: -110px;
  height: 235px;
  margin-top: 40px;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .services__image {
    display: none;
  }
}
.skills__inner {
  margin-top: 65px;
  display: flex;
}

.skills__list {
  margin-right: 100px;
  height: 250px;
  display: flex;
}

.skills__item {
  height: 100%;
}
.skills__item:not(:last-child) {
  margin-right: 40px;
}

.skill__lang {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  line-height: 0.9rem;
}

.skill__percent {
  width: 80px;
  background-color: var(--dark);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.skill__percent {
  position: relative;
}
.skill__percent:before {
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--light-red);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: 0.3s opacity;
}

.skill--selected .skill__percent:before {
  opacity: 1;
}

.description__item {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s opacity 0s, 0s display 0.3s;
}
.description__item--active {
  height: auto;
  opacity: 1;
  transition: 0.3s opacity 0s, 0.3s display 0s;
}
.description__title {
  margin-bottom: 20px;
}

.reviews__list {
  margin-top: 50px;
}
.reviews__item {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background-color: var(--light-gray);
  border-radius: 500px;
  width: 500px;
}
.reviews__image {
  width: 130px;
  height: 130px;
  border-radius: 500px;
}
.reviews__right-side {
  padding: 0 40px;
}
.reviews__title {
  margin-bottom: 10px;
}

.portfolio__list {
  margin: -10px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  width: 400px;
  height: 250px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  cursor: pointer;
}
.portfolio__item:hover .portfolio__content {
  opacity: 1;
}
.portfolio__content {
  opacity: 0;
  transition: 0.3s opacity;
}

.footer {
  background-color: var(--light-gray);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__footer {
  margin-top: 200px;
  margin-bottom: 30px;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */