.services__list {
    display: flex;
    justify-content: start;
    align-items: top;
    margin-top: 70px;
    width: 100%;
    max-width: 100%;
}

.services__item {
    width: 360px;
    min-width: 360px;
    
    &:not(:last-child) {
        margin-right: 100px;
    }
}

.service__image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 120px;
}

.service__image, .service__title, .service__text {
    margin-bottom: 20px;
}

.services__image {
    margin-right: -110px;
    height: 235px;
    margin-top: 40px;
    margin-left: 10px;
}

/* хром, сафари */
.services__list::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.services__list { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.services__list { overflow: -moz-scrollbars-none; }

@media (max-width: 1100px) {
    .services__image {
        display: none;
    }
}

@media (max-width: 950px) {
    .services__list {
        overflow-x: auto;
    }
	.services__item:not(:last-child) {
        margin-right: 50px;
    }
}