@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&display=swap');

@import "_reset.scss";

:root {
    --dark: #000;
    --dark-gray: #444444;
    --light-gray: #f9f9f9;
    --dark-red: #7B5B5B;
    --light-red: #FFDFDF;
}

* {
    font-family: "Brygada 1918";
    box-sizing: border-box;
}

.page {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1100px) {
    .container {
        max-width: 800px;
    }
    html {
        font-size: 14px;
    }
}

@import "header/_header.scss";
@import "header/navbar";
@import "logo/_logo.scss";
@import "clickable/clickable";
@import "main/main";
@import "text/text";
@import "service/service";
@import "skill/skill";
@import "reviews/reviews";
@import "portfolio/portfolio";
@import "footer/footer";
